@model WebsiteNoiThat.Models.ProductViewModel

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Thêm sản phẩm mới</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin sản phẩm</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Tên sản phẩm</th>
                            <td>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Loại sản phẩm</th>
                            <td>
                                @Html.DropDownListFor(model => model.CateId, ViewBag.ListCate as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CateId, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Mô tả</th>
                            <td>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5", @required = "" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Nhà cung cấp</th>
                            <td>
                                @Html.DropDownListFor(model => model.ProviderId, ViewBag.ListProvider as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProviderId, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Giá</th>
                            <td>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Số lượng</th>
                            <td>
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Giảm giá</th>
                            <td>
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Hình ảnh</th>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="UploadImage" name="UploadImage" onchange="previewImage(this);">
                                    <label class="custom-file-label" for="UploadImage">Chọn file...</label>
                                </div>
                                <img id="preview" class="img-fluid mt-2" style="max-height: 200px; display: none;" />
                            </td>
                        </tr>
                        <tr>
                            <th>Ngày bắt đầu</th>
                            <td>
                                @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Ngày kết thúc</th>
                            <td>
                                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="text-right mt-3">
                    <a href="@Url.Action("Show", "Product")" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Hủy
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Thêm mới
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#preview').attr('src', e.target.result).show();
                }
                reader.readAsDataURL(input.files[0]);
                $('.custom-file-label').text(input.files[0].name);
            }
        }
    </script>
}


