@model Models.EF.Order
@using WebsiteNoiThat.Areas.Admin.Models
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Chi tiết đơn hàng #@Model.OrderId</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Thông tin đơn hàng</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.OrderId)</th>
                                <td>@Html.DisplayFor(model => model.OrderId)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ShipName)</th>
                                <td>@Html.DisplayFor(model => model.ShipName)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ShipPhone)</th>
                                <td>@Html.DisplayFor(model => model.ShipPhone)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ShipEmail)</th>
                                <td>@Html.DisplayFor(model => model.ShipEmail)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ShipAddress)</th>
                                <td>@Html.DisplayFor(model => model.ShipAddress)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.UpdateDate)</th>
                                <td>@Html.DisplayFor(model => model.UpdateDate)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.StatusId)</th>
                                <td>@ViewBag.status</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Chi tiết sản phẩm</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã SP</th>
                                    <th>Tên sản phẩm</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-right">Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OrderProduct p in (List<OrderProduct>)ViewBag.orderproducts)
                                {
                                    <tr>
                                        <td>@p.ProductId</td>
                                        <td>@p.ProductName</td>
                                        <td class="text-center">@p.Quantity</td>
                                        <td class="text-right">@String.Format("{0:N0}", p.Price)₫</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" class="text-right"><strong>Tổng tiền:</strong></td>
                                    <td class="text-right text-danger"><strong>@String.Format("{0:N0}", ViewBag.total)₫</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right mb-4">
        <a href="@Url.Action("Viewmodel", "Report")" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Trở về
        </a>
    </div>
</div>
