@model WebsiteNoiThat.Areas.Admin.Models.LoginModel
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập | Fashion Store</title>

    <!-- Volt CSS -->
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/fullcalendar/main.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/apexcharts/dist/apexcharts.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/css/volt.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/login-styles.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <div class="brand-text">Fashion Store</div>
                                        <h2 class="h4 text-gray-900 font-weight-bold mb-1">Đăng nhập quản trị</h2>
                                        <p class="text-muted small">Đăng nhập để quản lý hệ thống</p>
                                    </div>

                                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <fieldset>
                                            <div class="form-group mb-3">
                                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-user", @placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                                            </div>
                                            <div class="form-group mb-3">
                                                @Html.TextBoxFor(model => model.Passwword, new { @class = "form-control form-control-user", @placeholder = "Mật khẩu", type = "password" })
                                            </div>
                                            <div class="form-group mb-3">
                                                <div class="custom-control custom-checkbox small">
                                                    @Html.CheckBoxFor(model => model.Remember, new { @class = "custom-control-input", @id = "customCheck" })
                                                    <label class="custom-control-label" for="customCheck">Ghi nhớ đăng nhập</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block mb-3">
                                                <i class="fas fa-sign-in-alt me-2"></i>Đăng nhập
                                            </button>
                                            
                                            <div class="text-center mb-2">
                                                <span class="small text-muted">Hoặc đăng nhập với</span>
                                            </div>
                                            
                                            <div class="social-buttons mb-3">
                                                <a href="#" class="btn btn-google btn-user">
                                                    <i class="fab fa-google"></i>
                                                </a>
                                                <a href="#" class="btn btn-facebook btn-user">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </div>
                                        </fieldset>
                                    }

                                    <hr class="my-2">

                                    <div class="text-center small">
                                        <a href="/RegisterAndLogin/Login" class="text-primary">
                                            <i class="fas fa-store me-1"></i>Đăng nhập khách hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <script src="https://demo.themesberg.com/volt-pro/vendor/popper.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/bootstrap.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/js/volt.js"></script>

    <!-- jQuery và Toastr -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>
</html>