<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị</title>

    <!-- Volt CSS -->
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/notyf/notyf.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/fullcalendar/main.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/apexcharts/dist/apexcharts.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/vendor/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <link type="text/css" href="https://demo.themesberg.com/volt-pro/css/volt.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
    
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <style>
        .sidebar {
            transition: margin 0.3s ease-in-out, width 0.3s ease-in-out;
            width: 250px !important;
        }

        .sidebar.toggled {
            margin-left: -250px !important;
            width: 0 !important;
        }

        .content {
            transition: margin 0.3s ease-in-out;
            margin-left: 250px;
        }

        body.sidebar-toggled .content {
            margin-left: 0;
        }

        media (max-width: 768px) {
            .content {
                margin-left: 0;
            }
            .sidebar {
                margin-left: -250px;
            }
            .sidebar.show {
                margin-left: 0 !important;
            }
        }
    </style>
    
    @RenderSection("Styles", required: false)
</head>

<body>
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
        <a class="navbar-brand me-lg-5" href="#">
            <span class="sidebar-icon">
                <i class="fas fa-chart-pie me-2"></i>
            </span>
            <span class="mt-1 ms-1 sidebar-text fw-bold">TRANG QUẢN LÝ</span>
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-lg-none collapsed" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#sidebarMenu" 
                    aria-controls="sidebarMenu" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-dark collapse" data-simplebar>
        <div class="sidebar-inner px-4 pt-3">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                <div class="d-flex align-items-center">
                    <div class="user-avatar lg-avatar me-4">
                        <img src="https://source.unsplash.com/6W4F62sN_yI/60x60" 
                             class="card-img-top rounded-circle border-black" alt="Avatar">
                    </div>
                    <div class="d-block">
                        <h6 class="mb-0" style="color: #333333 !important;">@ViewBag.username</h6>
                        <div class="small" style="color: #333333 !important;">
                            <span class="fas fa-crown me-2"></span>Admin
                        </div>
                    </div>
                </div>
                <div class="collapse-close d-md-none">
                    <a href="#sidebarMenu" 
                       data-bs-toggle="collapse" 
                       data-bs-target="#sidebarMenu" 
                       aria-controls="sidebarMenu" 
                       aria-expanded="true" 
                       aria-label="Toggle navigation">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
            
            <ul class="nav flex-column pt-3 pt-md-0">
                <li class="nav-item">
                    <a href="#" class="nav-link d-flex align-items-center">
                        <span class="sidebar-icon">
                            <i class="fas fa-chart-pie me-2"></i>
                        </span>
                        <span class="mt-1 ms-1 sidebar-text fw-bold">TRANG QUẢN LÝ</span>
                    </a>
                </li>

                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center">
                        <span class="sidebar-text text-uppercase fw-bold">Bán Hàng</span>
                    </span>
                </li>

                <li class="nav-item">
                    <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-products">
                        <span>
                            <span class="sidebar-icon"><i class="fas fa-box-open"></i></span>
                            <span class="sidebar-text">Sản phẩm</span>
                        </span>
                        <span class="link-arrow"><i class="fas fa-chevron-right"></i></span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-products">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Product/Show">
                                    <span class="sidebar-icon"><i class="fas fa-box"></i></span>
                                    <span class="sidebar-text">Sản phẩm</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/ProductCate/Show">
                                    <span class="sidebar-icon"><i class="fas fa-tags"></i></span>
                                    <span class="sidebar-text">Loại sản phẩm</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Provider/Show" class="nav-link">
                        <span class="sidebar-icon"><i class="fas fa-truck"></i></span>
                        <span class="sidebar-text">Nhà cung cấp</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Orders/Show" class="nav-link">
                        <span class="sidebar-icon"><i class="fas fa-shopping-cart"></i></span>
                        <span class="sidebar-text">Đơn đặt hàng</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Report/Viewmodel" class="nav-link">
                        <span class="sidebar-icon"><i class="fas fa-chart-bar"></i></span>
                        <span class="sidebar-text">Thống kê - Báo cáo</span>
                    </a>
                </li>

                <li class="nav-item mt-3">
                    <span class="nav-link d-flex justify-content-between align-items-center">
                        <span class="sidebar-text text-uppercase fw-bold">Người Dùng</span>
                    </span>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Customer/Show" class="nav-link">
                        <span class="sidebar-icon"><i class="fas fa-users"></i></span>
                        <span class="sidebar-text">Khách hàng</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/User/Show" class="nav-link">
                        <span class="sidebar-icon"><i class="fas fa-user-tie"></i></span>
                        <span class="sidebar-text">Nhân viên</span>
                    </a>
                </li>

                <li class="nav-item">
                    <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-roles">
                        <span>
                            <span class="sidebar-icon"><i class="fas fa-user-shield"></i></span>
                            <span class="sidebar-text">Phân quyền</span>
                        </span>
                        <span class="link-arrow"><i class="fas fa-chevron-right"></i></span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-roles">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Roles/Index">
                                    <span class="sidebar-icon"><i class="fas fa-user-tag"></i></span>
                                    <span class="sidebar-text">Vai trò</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Credentials/Index">
                                    <span class="sidebar-icon"><i class="fas fa-key"></i></span>
                                    <span class="sidebar-text">Quyền hạn</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item mt-3">
                    <span class="nav-link d-flex justify-content-between align-items-center">
                        <span class="sidebar-text text-uppercase fw-bold">Nội Dung Website</span>
                    </span>
                </li>

                <li class="nav-item">
                    <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-content">
                        <span>
                            <span class="sidebar-icon"><i class="fas fa-file-alt"></i></span>
                            <span class="sidebar-text">Quản lý nội dung</span>
                        </span>
                        <span class="link-arrow"><i class="fas fa-chevron-right"></i></span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-content">
                        <ul class="flex-column nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/News/Show">
                                    <span class="sidebar-icon"><i class="fas fa-newspaper"></i></span>
                                    <span class="sidebar-text">Tin tức</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Contact/Index">
                                    <span class="sidebar-icon"><i class="fas fa-envelope"></i></span>
                                    <span class="sidebar-text">Liên hệ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main class="content">
        <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0 bg-dark">
            <div class="container-fluid px-0">
                <div class="d-flex justify-content-between w-100">
                    <div class="d-flex align-items-center">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link rounded-circle me-3 d-none d-md-flex text-dark">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <!-- Nav Item - User Information -->
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #000000;">
                                <div class="media d-flex align-items-center">
                                    <img class="user-avatar md-avatar rounded-circle" 
                                         src="https://source.unsplash.com/6W4F62sN_yI/60x60">
                                    <div class="media-body ms-2 align-items-center d-none d-lg-block" style="color: #000000;">
                                        <span class="mb-0 font-small fw-bold" style="color: #000000;">@ViewBag.username</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
                                <a class="dropdown-item d-flex align-items-center" href="~/Admin/User/UserProfile">
                                    <i class="fas fa-user-circle text-gray-400 me-2"></i>
                                    Thông tin cá nhân
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex align-items-center" href="~/Admin/Login/Logout">
                                    <i class="fas fa-sign-out-alt text-danger me-2"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="py-4">
            <div class="d-flex justify-content-center w-100">
                <div style="min-width: 100%; max-width: 100%;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <!-- Volt Core JS -->
    <script src="https://demo.themesberg.com/volt-pro/vendor/popper.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/bootstrap.min.js"></script>

    <script src="https://demo.themesberg.com/volt-pro/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/chartist/dist/chartist.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/notyf/notyf.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="https://demo.themesberg.com/volt-pro/js/volt.js"></script>

    <!-- jQuery và DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    
    <!-- Cấu hình Toastr -->
    <script>
        
    </script>

    <script>
        // Toggle the side navigation
        $("#sidebarToggleTop").on('click', function(e) {
            e.preventDefault();
            $("body").toggleClass("sidebar-toggled");
            $(".sidebar").toggleClass("toggled");
        });

        // Close any open menu accordions when window is resized below 768px
        $(window).resize(function() {
            if ($(window).width() < 768) {
                $('.sidebar .collapse').collapse('hide');
            }
        });

        // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
        $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function(e) {
            if ($(window).width() > 768) {
                var e0 = e.originalEvent,
                    delta = e0.wheelDelta || -e0.detail;
                this.scrollTop += (delta < 0 ? 1 : -1) * 30;
                e.preventDefault();
            }
        });

        // Mobile view
        $('.navbar-toggler').on('click', function() {
            $('.sidebar').toggleClass('show');
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>

